@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap');

html,
body, p {
  font-family: 'Nunito Sans', sans-serif!important;
}

p{
  font-size: 0.875rem
}